.title-banner-text {
    font-size: 100px;
    text-align: center;
}
.subtitle-banner-text {
    font-size: 50px;
    text-align: center;
}
.about-container {
    display: flex;
}
.about-content {
    display: block;
    justify-content: center;
}
.about-text {
    /* padding-left: 20%;
    padding-right: 1%; */
    font-size: 300%;
    text-align: left;
    float: left;
}
.about-interests {
    font-size: 75%;
}
.about-narrative {
    font-size: 50%
}
.profile-pic-container {
    background-color: teal;
    padding: 2%;
    /* float: left;  */
    margin-right: 35%;
    margin-left: 35%;
    text-align: center;
}
.duke-container {
    display: flex;
    margin: 1%;
}
.duke-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 250%;
}
.duke-image {
    /* padding-right: 3%; */
    margin-right: 1%;
}
.hills-container {
    display: flex;
    margin: 1%;
}
.hills-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 250%;
}
.hills-image {
    /* padding-right: 3%; */
    margin-right: 1%;
}
.work-container {
    display: flex;
    margin: 1%;
}
.caci-container {
    display: flex;
    margin: 1%;
}
.caci-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.caci-image {
    /* padding-right: 3%; */
    margin-right: 1%;
    width: 20%;
}
.coned-container {
    display: flex;
    margin: 1%;
}
.coned-text {
    text-align: justify;
    padding-left: 3%;
    font-size: 200%;
}
.coned-image {
    /* padding-right: 3%; */
    margin-right: 1%;
    width: 30%;
}
.project-title {
    font-size: 150%;
}
.projects-container {
    display: flex;
    margin: 1%;
}
.easepapr-container {
    display: flex;
    margin: 1%;
}
.easepapr-text {
    text-align: justify;
    padding-left: 3%;
    font-size: 200%;
}
.easpapr-image {
    /* padding-right: 3%; */
    width: 50%;
    margin-right: 1%;
}
.gyft-container {
    display: flex;
    margin: 1%;
}
.gyft-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.gyft-image {
    width: 50%;
    margin-right: 1%;
}
.qiskit-container {
    display: flex;
    margin: 1%;
}
.qiskit-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.qiskit-image {
    width: 27%;
    margin-right: 1%;
}
.owm-container {
    display: flex;
    margin: 1%;
}
.owm-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.owm-image {
    width: 21%;
    margin-right: 1%;
}
.ama-container {
    display: flex;
    margin: 1%;
}
.ama-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.ama-image {
    width: 19%;
    margin-right: 1%;
}
.xprize-container {
    display: flex;
    margin: 1%;
}
.xprize-text {
    text-align: justify;
    padding-left: 1%;
    font-size: 200%;
}
.xprize-image {
    width: 30%;
    margin-right: 1%;
}
.linkedin-container {
    display: flex;
    margin: 1%;
    justify-content: center;
    text-align: center;
}
.linkedin-image {
    width: 30%;
}
.github-container {
    display: flex;
    margin: 1%;
    justify-content: center;
    text-align: center;
}
.github-image {
    width: 30%;
}
.email-container {
    display: flex;
    margin: 1%;
    justify-content: center;
    text-align: center;
}
.email-image {
    width: 10%;
    justify-content: center;
}
.resume-container {
    display: flex;
    margin: 1%;
    justify-content: center;
    font-size: 500%;
    text-align: center;
}





