.banner-container {
    display: flex;
    padding: 5%;
}
.section-banner-right {
    flex-basis: 80%;
}
.section-banner-left {
    flex-basis: 20%;
}
.title-banner-text {
    font-size: 100px;
    text-align: center;
}
.subtitle-banner-text {
    font-size: 50px;
    text-align: center;
}
.profile-pic-container {
    background-color: teal;
    padding: 4%;
}